<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_set_product">
        <observer name="set_item_dropdown_attribute" instance="Cowell\ProductShippingMethod\Observer\SetItemCustomAttributeToQuoteItem" />
    </event>
</config>
